@font-face {
  font-family: 'Pixeloid Mono';
  src: url('/public/fonts/PixeloidMono-d94EV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Pixeloid Mono';
  overflow: hidden;
  background-color: #4c4c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/*USAR VW (ancho) y VH (alto) SIEMPRE COMO UNIDAD */

h1 {
  color: #FFFFFF;
  text-shadow: 4px 4px 0px black;
  position: relative;
  left: -100vw; /* Empieza fuera de la pantalla */
  animation: slide-in  ease-out forwards;
}
#puntos {
  color: #D4D4D4;
 } 
#game-container {
  position: relative;
  width: 90vw;
  max-width: 1400px;
  height: 60vh;  
  max-height: 600px;
  margin: 20px auto;
  border: 2px solid #6d6d6d;
  color: #FF3030;
  text-shadow: 2px 2px 0px black;
  background-image: url("/public/images/background_Game.avif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  border-radius: 30px;
  font-size: 18vh;
  text-align: center;  
}

#container-text {
  animation: blink 1s infinite alternate;
}

.personaje {
  position: absolute;
  width: 5vw;
  max-width: 50px;
  height: 5vh;
  max-height: 50px;
  background-image: url("public/images/mainCharacter.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.moneda {
  position: absolute;
  width: 3vw;
  max-width: 30px;
  height: 3vh;
  max-height: 30px;
  background-image: url("public/images/asteroid.webp");
  background-size: 100% 100%;
}

.coin-fall {
  animation: fall 2s forwards;
}

#resetButton {
  margin-top: 2vh;
  background-color: #FF6600;
  color: #FFFFFF;
  cursor: pointer;
  padding: 1vh;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Pixeloid Mono';
}

#resetButton:hover {
  background-color: #0084A8;
}

#resetButton:active {
  transform: scale(0.9);
}

.collapsible-container {
  width: 100%;
  display: block;
  }

.collapsible {
  margin-top: 4vh;
  background-color: #FF6600;
  color: #FFFFFF;
  cursor: pointer;
  padding: 1vh;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.collapsible h3 {
  text-align: center;
  font-family: 'Pixeloid Mono';
  font-size: large;
  margin: 0;
}

.active, .collapsible:hover {
  background-color: #0084A8;
}

.bb__collapsible {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #0A0A32;
  color: #D4D4D4 ;
  list-style-position: inside;
  transition: max-height 0.3s ease;
  margin-bottom: 2vh;
}

.bb__collapsible ul {
  columns: 2;
}

.bb__collapsible .controls-list li {
  margin: 0.5vh 0;
  text-shadow: 1px 1px 0px black;
  font-size: 0.9em;
  list-style: none;
}

.bb__collapsible .key {
  background-color: #222;
  padding: 0.3vh 0.8vw;
  border: 1px solid #FF6600;
  display: inline-block;
  border-radius: 3px;
  color: #FFF;
  font-weight: bold;
  font-size: 0.9em;
}

@keyframes fall {
  from { transform: translateY(0); }
  to { top: 600px; opacity: 0; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-in {
  0% { left: -100vw; }
  100% { left: 0; }
}